html{
	height: 100%;
}
body{
	width:100%;
	max-width: 640px;
	height: 100%;
	margin: 0 auto;
	background:#fff;
	position: relative;
	font-size: 14px;
}
header{
	width:100%;
	height: 37px;
	background:#0f91c5;
	text-align: center;
	color: #fff;
	font-size: 17px;
	line-height: 37px;

}
.headerbox{
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.form{
	margin: 9px 15px 0 15px;
}
.form input{
	display: block;
	width:100%;
	height: 33px;
	border-bottom: 1px solid #7f7f7f;
	color: #cacaca;
	line-height: 33px;
}
.form input:nth-child(2),.form input:nth-child(3){
	margin-top: 27px;
}
.form input:nth-child(3){
	margin-bottom: 45px;
}
.form div{
	font-size: 12px;
	height: 64px;
	line-height: 64px;
	display: -webkit-flex;
	display: -webkit-box;
}
.form .link a{
	color: #61b7da;
	text-decoration: underline;
	display: block;
	flex: 1;
	-webkit-box-flex:1;
}
.form div a:nth-child(2){
	text-align: right;
}
.form button{
	display: block;
	margin: 0 auto;
	width:100%;
	height: 38.5px;
	background: #0f91c5;
	color: #fff;
	font-size: 17px;
	line-height: 38.5px;
	text-align: center;
	border: none;
	border-radius:3px;
	letter-spacing:42px;
	text-indent: 42px;
}
.form .re_password{
	margin-bottom: 45px;
}
.form span{
	display: block;
	width: 95px;
	height: 33.5px;
	background: #0f91c5;
	font-size: 14px;
	color: #fff;
	line-height: 33.5px;
	float: right;
	margin-top: -83px;
	border-radius: 3px;
	text-align: center;
}
/*user*/
.search{
	padding: 4px 5px;
	display: -webkit-flex;
	display: -webkit-box;
	width:100%;
	box-sizing:border-box;
	-webkit-justify-content: space-between;
	-webkit-box-pack:justify;
	overflow: hidden;
}
.search input{
	display: block;
	-webkit-flex:1;
	-webkit-box-flex:1;
	height: 23px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;

}
.search button{
	width:45px;
	height: 24px;
	border: none;
	border-radius: 5px;
	background: #0f91c5;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 23px;
	margin-left: 5px;
}
.box{
	width:100%;
	height: 5px;
	background: #f1f1f1;
	border-top: 1px solid #d9d9d9;
}
.message{
	height: 70px;
	width:100%;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-align-items:center;
	-webkit-box-align:center;
	border-bottom: 1px solid #ccc;
}
.user_message{
	border-bottom: 0px;
}
.message .headerImg{
	width:47px;
	height:47px;
	display: block;
	margin-left: 11px;
	margin-right: 10px;
}
.message .headerTxt{
	line-height: 24px;
}
.message .headerTxt h2{
	font-size: 14px;
}
.message .headerTxt p{
	font-size: 12px;
	color:#999;
}
.attention{
	display: block;
	width:50px;
	height: 25px;
	background: #0f91c5;
	color: #fff;
	text-align: center;
	line-height: 23px;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 20px;
}
.main{
	width:100%;
	/*height: 22px;*/
	line-height: 22px;
	color: #999;
	display: -webkit-box;
	display: -webkit-flex;
	font-size: 12px;
	border-bottom: 1px solid #e5e5e5;
}
.main .active{
	color: #0f91c5;
	border-bottom: 3px solid #0f91c5;
}
.main a{
	display: block;
	-webkit-flex:1;
	-webkit-box-flex:1;
	text-align: center;
	color: #999;
}
.detail{
	width:100%;
}
.detail .picbox img{
	width:157px;
}
footer{
	width:100%;
	height: 45px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	box-sizing:border-box;
}
footer .box{
	width:100%;
	height: 4px;
	background: #f1f1f1;
	border-bottom: 1px solid #cdcdcd;
	border-top: none;
}
footer .menu{
	display: -webkit-box;
	display: -webkit-flex;
	background: #fff;
	margin-top: 5px;
}
footer .menu a{
	display: block;
	height: 40px;
	-webkit-flex:1;
	-webkit-box-flex:1;
	font-size: 12px;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	-webkit-box-orient:vertical;
	-webkit-flex-direction:column;
	color: #dddddd;
}
footer .menu img{
	margin-bottom: 3px;

}
footer .menu a:nth-child(1) img{
	width:15px;
	height: 13px;
}
footer .menu a:nth-child(2) img{
	width:14px;
	height: 13px;
}
footer .menu a:nth-child(3) img{
	width:25px;
	height: 20px;
}
footer .menu a:nth-child(4) img{
	width:15px;
	height: 14px;
}
footer .menu a:nth-child(5) img{
	width:12px;
	height: 14px;
}
footer .menu .photo{
	position: relative;
}
footer .menu .photo div{
	position: absolute;
	width:40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #dedede;
	bottom: 2px;
	left: 50%;
	margin-left: -21px;
	background: #fff;
	background-clip: padding-box;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
footer .menu a.menuActive{
	color: #0f91c5;
}
footer:before{
	content: '';
	display: block;
	width:100%;
	height: 4px;
	background: #f1f1f1;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #cdcdcd;

}

/*首页*/
header.index{
	display:-webkit-box;
	display:-webkit-flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
}
header.index div{
	width:30%;
	margin: 0 auto;
	font-size: 12px;
}
header.index div a{
	color: #fff;
	display: block;
	width:50%;
	height: 22px;
	background: #79c1df;
	float: left;
	line-height: 22px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
header.index div a.indexHeaderAct{
	opacity:1;
	filter:alpha(opacity=100);
}
header.index div a:nth-child(1){
	border-radius: 9px 0 0 9px;
}
header.index div a:nth-child(2){
	border-radius: 0 9px 9px 0;
}
.indexMain a{
	font-size: 14px;
	line-height: 31px;
	color: #000;
}
.indexBody ul{
	width:100%;
	height: 100%;
	overflow: hidden;
	// display: -webkit-flex;
	// display: -webkit-box;
	// -webkit-box-pack:justify;
	// -webkit-justify-content:space-between;
}
// .indexBody ul:after{
// 	content: '';
// 	display: block;
// 	height: 0;
// 	clear: both;
// 	overflow: hidden;
// }
.indexBody ul:nth-child(2),.indexBody ul:nth-child(3){
	display: none;
}
.indexBody li{
	width:48.5%;
	float: left;
}
.indexBody li:nth-child(2){
	float: right;
}
.indexBody li div{
	margin-bottom: 5px;
	border: 1px solid #e5e5e5;
}
.indexBody img{
	width:100%;
}
.indexBody p{
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 10px;
	border-top: 1px solid #e5e5e5;
}
.message{
	position: relative;
}
.message .good{
	position: absolute;
	top:21.4%;
	right: 4%;
}
.message .good span{
	font-size: 12px;
	color: #dddddd;
}
.message .good a{
	display: inline-block;
	width:11px;
	height: 11px;
	background:url('../images/good.png') no-repeat;
	background-size: 100%;
}
.attMain .messageTxt{
	width:100%;
}
.attMain .messageTxt img{
	width:100%;
}
.attMain .messageTxt p{
	width:100%;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	padding: 9px 10px;
}
.attMain{
	overflow: hidden;
}
.attMain>div:after{
	content: '';
	display: block;
	width:100%;
	height: 5px;
	background: #f1f1f1;
}
#wrapper,#wrapper1,#wrapper2,#wrapper3{
	width:100%;
	position: absolute;
	overflow: scroll;
	top:42px;
	bottom: 45px;
}
.hotWrapper#wrapper,.hotWrapper#wrapper1,.hotWrapper#wrapper2,.hotWrapper#wrapper3{
	top:77px;
}
.findWrapper#wrapper{
	top:76px;
}
.userWrapper#wrapper{
	top:35px;
}
.nomore{
	width:100%;
	text-align: center;
	height: 30px;
}
.hot_mainbox{
	width:100%;
	height: 100%;
}
.hot_mainbox div.swiperPage{
	top:37px;
	left: 0;
	display: -webkit-flex;
	display: -webkit-box;
	height: 40px;
	box-sizing: border-box;
	
}
.user_hot_mainbox div.user_swiperPage{
	top:0px;
	height: 35px;
}
.hot_mainbox div.swiperPage.swiperPClearMargin span{
	-webkit-flex:1;
	-webkit-box-flex:1;
	display: block;
	margin: 0 auto;
	width:100%;
	height: auto;
	border-radius: 0;
	background: #fff;
	line-height: 35px;
	height: 35px;
	box-sizing: border-box;
}
.hot_mainbox div.swiperPage:after{
	content: '';
	display: block;
	width:100%;
	height: 4px;
	background: #f1f1f1;
	position: absolute;
	bottom:0;
	left: 0;
	border-top: 1px solid #d9d9d9;
}
.hot_mainbox div.swiperPage:after{
	height: 0px;

}
.swiper-pagination-bullet-active{
	border-bottom: 3px solid #0f91c5;
	color: #0f91c5;
}
span.swiper-pagination-bullet{
	opacity: 1;
}